/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}
/**
.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}
**/

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.borderradius{
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #95B8E7;
}
.login {
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
background-attachment: scroll;
background-clip: border-box;
background-color: rgba(0, 0, 0, 0);
background-image: -webkit-linear-gradient(top, rgb(239, 245, 255) 0px, rgb(224, 236, 255) 20%);
background-origin: padding-box;
background-repeat: repeat-x;
background-size: auto;
border-bottom-color: rgb(149, 184, 231);
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-left-color: rgb(149, 184, 231);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(149, 184, 231);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(149, 184, 231);
border-top-left-radius: 5px;
border-top-right-radius: 5px;
border-top-style: solid;
border-top-width: 1px;
display: block;
font-size: 12px;
overflow-x: hidden;
overflow-y: hidden;
padding-bottom: 5px;
padding-left: 5px;
padding-right: 5px;
padding-top: 5px;
text-align: left;
-moz-box-shadow: 2px 2px 3px #cccccc;
-webkit-box-shadow: 2px 2px 3px #cccccc;
box-shadow: 2px 2px 3px #cccccc;
filter: progid:DXImageTransform.Microsoft.Blur(pixelRadius=2,MakeShadow=false,ShadowOpacity=0.2);
z-index: 9001;
}
.content{
border-color: #95B8E7;
background-color: #ffffff;
color: #000000;
border: 1px solid  #95B8E7;
font: 14px '宋体';
padding:15px 0 0 0;
}
.title{
	font-weight:bold;
	height:25px;
}
.css-form input.ng-invalid.ng-dirty {
	background-color: #FA787E;
}

.css-form input.ng-valid.ng-dirty {
	background-color: #78FA89;
}
html , body{
	height:100%
}
.leftmenu{
	float:left;
	width:200px;
	position: absolute;
	top: 40px;
	bottom: 10px;
	padding:2px;
	background-color: #e0ecff;
}
.accordion-group{
	background-color:#ffffff;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #95B8E7 !important;
}
.accordion-inner {
	padding: 9px 15px;
	border-top: 1px solid #95B8E7 !important;
}
.tabbable{
	height:100%;
	background-color:#ffffff;
	border: 0px solid #95B8E7 !important;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.nav-tabs {
	border-bottom: 1px solid #95B8E7 !important;
}

.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
	border: 1px solid #95B8E7 !important;
}
.tab-content {
	background-color:#ffffff;
	padding:10px;
	position: absolute;
	top: 40px;
	bottom: 2px;
	left:2px;
	right:2px;
	border: 1px solid #95B8E7 !important;
	border-top:0px !important;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
}
.nav {
	margin-bottom: 0px !important;
	background-color:#e0ecff;
}

.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
	color: #08c !important;
	border-bottom-color: transparent !important;
}
/*
.accordion-heading{
	background-color:#ffffff;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #95B8E7;
}
.accordion-inner{
	background-color:#ffffff;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	border-width: 1px;
	border-style: solid;
	border-color: #95B8E7;
}
*/
.menuitem{
	text-align:center;
}
.tabcontent{
	position: absolute;
	top: 40px;
	bottom: 10px;
	padding:2px;
	left:240px;
	right:10px;
	background-color: #e0ecff;
}
.mainbody{
	height:100%;
	background-color: #e0ecff;
	padding:10px 20px 0 20px;
	overflow:hidden;
}
.nav>li>a:hover, .nav>li>a:focus {
	background-color: #fff !important;
}
/*
.accordion-group {
margin-bottom: 0 !important;
border: 1px solid #95B8E7 !important;
-webkit-border-radius: 0 !important;
-moz-border-radius: 0 !important;
border-radius: 0 !important;
}
*/

.gridStyle {
	position:absolute;
    left:5px;
	right:5px;
	top:40px;
	bottom:40px;
	outline:none;
}
div{
	outline:none;
}
.gridbuttonDiv {
	position:absolute;
    left:5px;
	right:5px;
	top:5px;
	height:35px;
}
.gridbuttonDiv button>img {
	margin-right:2px;
}

.ngFooterTotalItems{
	display:inline-block ;
	float:left;
}
.ngTotalSelectContainer{
	width:200px;
}
.pagination{
	position:absolute;
    left:127px;
	right:0px;
	bottom:0px;
	height:35px;
	margin:0 !important;
}

.pagination ul>li:first-child>a, .pagination ul>li:first-child>span {
border-left-width: 0px !important;
-webkit-border-bottom-left-radius: 0px !important;
border-bottom-left-radius: 0px !important;
-webkit-border-top-left-radius: 0px !important;
border-top-left-radius: 0px !important;
-moz-border-radius-bottomleft: 0px !important;
-moz-border-radius-topleft: 0px !important;

}
.pagination ul>li>a{
cursor:pointer;
}

.totalText {
border-left-width: 1px ;
-webkit-border-bottom-left-radius: 4px ;
border-bottom-left-radius: 4px ;
-webkit-border-top-left-radius: 4px ;
border-top-left-radius: 4px ;
-moz-border-radius-bottomleft: 4px ;
-moz-border-radius-topleft: 4px ;
position:absolute;
left:5px;
right:0px;
bottom:5px;
height:28px;
margin:0 ;
width:120px;
border: 1px solid #ddd;
color: #08c;
text-align:center;
line-height:28px;
}


.queryselect{
	padding:0px !important;
	margin:0 0 0 5px !important;
}

.queryinput{
	padding:0px !important;
	margin:0 5px 0 0 !important;
	height:30px !important;
	line-height:30px !important;
}
.ngHeaderCell{
	cursor: pointer;
	display: inline-block;
	padding: 0px 0px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5 !important;
	background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
	background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
	background-image: -o-linear-gradient(top,#fff,#e6e6e6);
	background-image: linear-gradient(to bottom,#fff,#e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #ccc !important;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	border-bottom-color: #b3b3b3;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}

.ngTopPanel{
	background-color: #fff !important;
}

.closebuttondiv{
	position:relative;
	top:0px;
	right:0px;
	width: 16px;
	height: 16px;
	float:right;
	padding:3px;
}

.closebuttondiv a{
	width: 16px;
	height: 16px;
	float:right;
	display: inline-block;
	filter: alpha(opacity=60);
	vertical-align: top;
}
.panel-tool-close{
	background: url('../img/icons/panel_tools.png') no-repeat -16px 0px;
	border-width: 0 0 1px 0;
}
.modal{
	background-color: #E0ECFF !important;
	border-radius: 5px 5px 5px 5px !important;
	border:1px solid #95B8E7 !important;
	padding: 5px !important;
	width:800px !important;
}
a{
	cursor:pointer !important;
}
.modal-header{
	padding:2px 5px !important;
}
.modal-body{
	background-color:#fff !important;
	margin:0 !important;
	border-radius: 2px 2px 2px 2px !important;
}
.row-div:hover{
	background-color:gray;
}
.row-div input {
	padding:1px 2px 1px 2px !important;
	margin:0px !important;
	height:20px !important;
}
.modal-div{
	font-size:12px !important;
}
.row-head{
	text-align:center;
}
.cell-opt{
	text-align:center;
}
.item-table select,.item-table textarea,.item-table input[type="text"],.item-table input[type="password"],.item-table input[type="datetime"],.item-table input[type="datetime-local"],.item-table input[type="date"],.item-table input[type="month"],.item-table input[type="time"],.item-table input[type="week"],.item-table input[type="number"],.item-table input[type="email"],.item-table input[type="url"],.item-table input[type="search"],.item-table input[type="tel"],.item-table input[type="color"],.item-table .uneditable{
	height:20px !important;
	line-height:18px !important;
	padding:0px;
	margin:0px;
	height:26px !important;
}
.item-table{
	border:0px solid gray;
}
.table-left-head{
	padding-left:5px;
}
.table-right-head{
	padding-left:60px;
}
.listdiv{
	overflow-y:auto;
	width:100%;
	max-height:182px; 
	z-index:-1;
}	