<div ng-controller="SettleManagerCtrl">
	<div class='gridbuttonDiv'>
		<button ng-click='add()' class='btn'><img src="img/icons/edit_add.png"/>新增</button>
		<button ng-click='' class='btn'><img src="img/icons/pencil.png"/>修改</button>
		<button ng-click='' class='btn'><img src="img/icons/edit_remove.png"/>删除</button>
		<select ng-model="queryType" ng-options="c.name for c in colors" class='queryselect'>
			  <option value="">-- 选择查询项 --</option>
		</select>
		<input type='text' ng-model='queryItem' class='queryinput'>
		<button ng-click='' class='btn btn_add'><img src="img/icons/query.png"/>查询</button>
	</div>
	<div class="gridStyle" ng-grid="gridOptions"></div>
	<div>
		<div class='totalText'>共{{maxNum}}行{{noOfPages}}页</div>
		<pagination boundary-links="true" num-pages="noOfPages" current-page="currentPage" max-size="maxSize"></pagination>
	</div>
	<div modal="shouldBeOpen" close="close()" options="opts" class='modal-div'>
		<div class='closebuttondiv'>
			<a ng-click='close()' class="panel-tool-close" href="javascript:void(0)"></a>
		</div>
		<div class='modal-header'>
			<img ng-src="{{ico}}"/><span style='margin-left:4px;'>{{title}}</span>
		</div>
		<div class="modal-body">
			<table>
				<tr>
					<td class='table-left-head'>
					供&nbsp;&nbsp;货&nbsp;&nbsp;方：<input type='text' ng-model='edit.supplier'>
					</td>
					<td class='table-right-head'>
					收&nbsp;&nbsp;货&nbsp;&nbsp;方：<input type='text' ng-model='edit.consignee'>
					</td>
				</tr>
				<tr>
					<td colspan=2>
						<button ng-click='additem()' class='btn'><img src="img/icons/edit_add.png"/>增加石材</button>
					</td>
				</tr>
				<tr>
					<td colspan=2>
						<table class='item-table'>
						<tr class='row-div row-head'>
							<td style='width:75px'>日期</td>
							<td style='width:50px'>品名</td>
							<td style='width:50px'>规格</td>
							<td style='width:50px'>单位</td>
							<td style='width:50px'>数量</td>
							<td style='width:50px'>单价</td>
							<td style='width:50px'>金额</td>
							<td style='width:50px'>备注</td>
							<td style='width:50px'>操作</td>
						</tr>	
						<tr ng-repeat="item in edit.items" class='row-div'>
							<td><input style='width:75px' ng-model='item.inputdate' ui-date></td>
							<td><select type='text' style='width:95px' ng-model='item.name' required ng-options="c.code as c.value for c in cache.data['stone']"/></td>
							<td><select type='text' style='width:130px' ng-model='item.size' required ng-options="c.code as c.value for c in cache.data['stone__size'+item.name]"></td>
							<td><select type='text' style='width:65px' ng-model='item.unit' required ng-options="c.code as c.value for c in cache.data['stone__unit'+item.name]"></td>
							<td><input type='text' style='width:50px' title='{{item.num}}' required ng-model='item.num'></td>
							<td><input type='text' style='width:50px' title='{{item.price}}' required ng-model='item.price'></td>
							<td><input type='text' style='width:50px' title='{{item.sum}}' required ng-model='item.sum' value='{{ parseInt(item.num) * parseFloat(item.price) }}'></td>
							<td><input type='text' style='width:50px' title='{{item.remark}}' ng-model='item.remark'></td>
							<td class='cell-opt'><a ng-click="removeitem($index)" title='删除一行' ><img src="img/icons/edit_remove.png"/></a></td>
						</tr>	
						</table>
					</td>
				</tr>
				<tr>
					<td class='table-left-head'>
					供货方(签字)：<input type='text' ng-model='edit.supplier_opt' style='width:184px;'>
					</td>
					<td class='table-right-head'>
					收货方(签字)：<input type='text' ng-model='edit.consignee_opt'style='width:184px;' >
					</td>
				</tr>
				<tr>
					<td class='table-left-head'>
					供货日期：<input type='text' ng-model='edit.supplier_date' ui-date>
					</td>
					<td class='table-right-head'>
					收货日期：<input type='text' ng-model='edit.consignee_date' ui-date>
					</td>
				</tr>
			</table>
		</div>
		<div class="modal-footer">
			<button class="btn btn-warning cancel" ng-click="save()">保存</button>
			<button class="btn btn-warning cancel" ng-click="close()">关闭</button>
		</div>
	</div>
</div>